html{ 
    --main-color: #ffffff;
    --test-color: #000000;
    --b-color: #c0d96f;
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#img_logo{
  width: 40px;
  height: 40px;
}
#loge{
  display: flex;
}

nav{
  display: flex;

    width: 100%;
    height: 60px;
    background-attachment: fixed;
    position: fixed;
    padding: 0px 100px;
    line-height: 60px;
    z-index: 1;
    background-color:  rgb(0, 0, 0);
}

nav .logo{
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

nav .logo p{
    float: left;
    text-transform: uppercase;
    color: #c0d96f;}

nav .logo a{
    text-decoration: none;
}

nav .logo a :hover{
    color: #fff;
    transition: 0.3s ease-out;
}


nav ul {
  
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    
}

nav ul li {
  float: left ;
  margin-top: 0px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 0px 35px;
    transition: 0.3s ease-out;
}

nav ul li a:hover {
    color: #c0d96f;
}

nav ul li ul {
  background-color: black;
  display: none;
}
nav ul li ul {
  float: none;
}
nav ul li:hover ul {
  display: block;
}

#rock{
  margin-left: 550px;
}









#img{
    padding-left: 50px;
}
#p{
    padding-left: 400px;
    margin-top: -10px;
}
#h1{
    padding-left: 400px;
    color: #000;
    margin-top: -350px;
}
.sel{
    margin-left: 100px;
    width: 10em;
    height: 2.5em;
    font-size: 20px;
    text-align: center;    
    background-color: #c0d96f;
    border-radius:20px ;
}
h2{
    color: white;
    text-align: left  ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
}
.sele{
    margin-left: 130px;
    width: 10em;
    height: 2.5em;
    font-size: 20px;
    text-align: center;    
    background-color: #c0d96f;
    border-radius:20px ;
}
.selec{
    margin-left: 160PX;
    width: 10em;
    height: 2.5em;
    font-size: 20px;
    text-align: center; 
    background-color: #c0d96f;
    border-radius:20PX ;
}
.in{
    
    width: 150px;
    font-size: 20px;    
    margin-left: 230PX;
    margin-top: 5px;
    height: 2em;
    background-color: #000;
    border-radius:20px ;
    color: #fff;
}
button:hover{
    background-color: rgb(27, 27, 27);
}

form{
    display: flex;
}








footer
{
  color: #fff;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  position: relative;
  display: flex;
}

.center {
  margin-top: 60px;
  padding-left: 12%;
  text-align: center;
  line-height: 25px;
}
.logo1
{
  width: 45px;
  height: 40px;
  margin-left: 40px;
}

.left
{
  margin-top: 5px;
  float: left;
  padding-left: 40px;
  margin-left: 8%;
}span{
    color: #c0d96f;
  }
  .right
  {
    display: flex;
  }